*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: hotpink;
    height: 15vh;

    display: flex;
    justify-content: space-evenly;
}
main{
    background-color: rgb(235, 64, 254);
    height: 80vh;

    display: flex;


}
footer{
    background-color: rgb(242, 8, 160);
    height: 10vh;
}

article{
    border: 1px solid red;
    background-color: darkorchid;
    width: 25%;
    text-align: center;
}